body {
    font-family: 'Open Sans', Lato, sans-serif;
    font-size: medium;
}

.container {
    max-height: 100vh;
    border-right: 1px solid #E1E1E1;
    border-left: 1px solid #E1E1E1;
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 50px 4fr 6fr 50px;
    grid-template-areas:
    'header header'
    'bicycle-list bicycle-add'
    'bicycle-list bicycle-statistics'
    'footer footer'
}

.header {
    grid-area: header;
    font-weight: bold;
    text-align: left;
    font-family: "Saira Stencil One", "PT Sans", Arvo, "Josefin Sans", Merriweather, Montserrat, fantasy;
}

.header, .footer {
    background-color: #696969;
    font-size: large;
    color: whitesmoke;
}


.bicycle-list {
    grid-area: bicycle-list;
    border-right: 1px solid #E1E1E1;
    margin-right: 10px;
    overflow: auto;
}

.bicycle-add {
    grid-area: bicycle-add;
    border-bottom: 1px solid #E1E1E1;
}

.bicycle-statistics {
   grid-area: bicycle-statistics;
    padding-left: 1%;
    padding-top: 3%;
    font-size: medium;
}

.bicycle-add, .bicycle-statistics {
    padding-right: 2%;
}

.footer {
    grid-area: footer;
}

.header p {
    margin-left: 20px;
}

.footer p {
    margin-right: 20px;
    text-align: right;
}

.footer p span {
    color: #E1E1E1;
}


/* Remove arrow spinners
Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}